.btn {
  height: 35px;
  background-color: #000;
  color: #ffff;
  min-width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  transition: transform 0.5s;
}
.btn:hover {
  color: #ddd;
  transform: scale(0.98);
}
